<?xml version="1.0" ?>
<!--
/**
 * @author Mavenbird Commerce Team
 * @copyright Copyright (c) 2020 Mavenbird Commerce (https://www.mavenbird.com)
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="mmalsobouhgt" frontName="mmalsobouhgt">
            <module before="Magento_Backend" name="Mavenbird_AlsoBought"/>
        </route>
    </router>
</config>
