<?xml version="1.0"?>
<!--
/**
 * @author MageMoto Commerce Team
 * @copyright Copyright (c) 2020 MageMoto Commerce (https://www.magemoto.com)
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magemoto" translate="label" sortOrder="300">
            <label>MageMoto</label>
        </tab>
        <section id="magemoto" translate="label" type="text" sortOrder="300" showInDefault="1" showInWebsite="1" showInStore="0">
            <label>Who Bought This Item Also Bought</label>
            <tab>magemoto</tab>
            <resource>MageMoto_AlsoBought::configuration</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>General Configuration</label>
                <field id="enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Select Yes to enable this module.</comment>
                </field>
                <field id="type" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Calculate Related Product Base On</label>
                    <backend_model>MageMoto\AlsoBought\Model\Config\Type</backend_model>
                    <source_model>MageMoto\AlsoBought\Model\Config\Source\Type</source_model>
                    <comment>Require reindex data to apply changes</comment>
                </field>
                <field id="process_order_status" translate="label comment" type="multiselect" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Process Order With Status</label>
                    <backend_model>MageMoto\AlsoBought\Model\Config\Type</backend_model>
                    <source_model>MageMoto\AlsoBought\Model\Config\Source\OrderStatus</source_model>
                    <comment>Select the order status which the module uses to suggest the products displayed in the block. Require reindex data to apply changes</comment>
                </field>
                <field id="free_item" translate="label comment" type="select" sortOrder="45" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Suggest for free Items</label>
                    <backend_model>MageMoto\AlsoBought\Model\Config\Type</backend_model>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Require reindex data to apply changes</comment>
                </field>
                <field id="cache_lifetime" translate="label comment" type="text" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Cache Lifetime (Seconds)</label>
                    <validate>validate-digits validate-greater-than-zero</validate>
                    <comment>
                        <![CDATA[Time in seconds between the block data updates.
                        <br/>If not set, equals to 86400 seconds (24 hours).]]>
                    </comment>
                </field>
            </group>
            <group id="catalog_product_view" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Display on Product Page</label>
                <field id="enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Select Yes to display the block on the Product Page</comment>
                </field>
                <field id="heading_label" translate="label comment" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Title of block</label>
                    <comment>Enter the block’s name. E.g: Who bought this item also bought</comment>
                </field>
                <field id="position" translate="label comment" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Position</label>
                    <source_model>MageMoto\AlsoBought\Model\Config\Source\Position</source_model>
                    <comment>Select the position of the page where the block appears</comment>
                </field>
                <field id="layout" translate="label comment" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Layout</label>
                    <source_model>MageMoto\AlsoBought\Model\Config\Source\Layout</source_model>
                    <comment>Select the layout of suggested products in the frontend</comment>
                </field>
                <field id="show_list" translate="label comment" type="multiselect" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Show List</label>
                    <source_model>MageMoto\AlsoBought\Model\Config\Source\ShowList</source_model>
                    <comment>Select option(s) above to display them along with products</comment>
                </field>
                <field id="limit_product" translate="label comment" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Number of products displayed</label>
                    <validate>validate-digits validate-number validate-zero-or-greater</validate>
                    <comment>Enter the maximum number of products displayed in the block (Leave empty or 0 to display all suggested products).</comment>
                </field>
            </group>
            <group id="catalog_category_view" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Display on Catalog Page</label>
                <field id="enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Select Yes to display the block on the Catalog Page</comment>
                </field>
                <field id="heading_label" translate="label comment" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Title of block</label>
                    <comment>Enter the block’s name. E.g: Who bought this item also bought</comment>
                </field>
                <field id="position" translate="label comment" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Position</label>
                    <source_model>MageMoto\AlsoBought\Model\Config\Source\CategoryPagePosition</source_model>
                    <comment>Select the position of the page where the block appears</comment>
                </field>
                <field id="layout" translate="label comment" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Layout</label>
                    <source_model>MageMoto\AlsoBought\Model\Config\Source\Layout</source_model>
                    <comment>Select the layout of suggested products in the frontend</comment>
                </field>
                <field id="show_list" translate="label comment" type="multiselect" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Show List</label>
                    <source_model>MageMoto\AlsoBought\Model\Config\Source\ShowList</source_model>
                    <comment>Select option(s) above to display them along with products</comment>
                </field>
                <field id="limit_product" translate="label comment" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Number of products displayed</label>
                    <validate>validate-digits validate-number validate-zero-or-greater</validate>
                    <comment>Enter the maximum number of products displayed in the block (Leave empty or 0 to display all suggested products).</comment>
                </field>
            </group>
            <group id="checkout_cart_index" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Display on Cart Page</label>
                <field id="enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Select Yes to display the block on the Cart Page</comment>
                </field>
                <field id="heading_label" translate="label comment" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Title of block</label>
                    <comment>Enter the block’s name. E.g: Who bought this item also bought</comment>
                </field>
                <field id="position" translate="label comment" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Position</label>
                    <source_model>MageMoto\AlsoBought\Model\Config\Source\CartPagePosition</source_model>
                    <comment>Select the position of the page where the block appears</comment>
                </field>
                <field id="layout" translate="label comment" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Layout</label>
                    <source_model>MageMoto\AlsoBought\Model\Config\Source\Layout</source_model>
                    <comment>Select the layout of suggested products in the frontend</comment>
                </field>
                <field id="show_list" translate="label comment" type="multiselect" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Show List</label>
                    <source_model>MageMoto\AlsoBought\Model\Config\Source\ShowList</source_model>
                    <comment>Select option(s) above to display them along with products</comment>
                </field>
                <field id="limit_product" translate="label comment" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Number of products displayed</label>
                    <validate>validate-digits validate-number validate-zero-or-greater</validate>
                    <comment>Enter the maximum number of products displayed in the block (Leave empty or 0 to display all suggested products).</comment>
                </field>
            </group>
            <group id="snippet_code" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Snippet Code</label>
                <field id="custom_position" translate="label" type="label" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>MageMoto\AlsoBought\Block\Adminhtml\System\SnippetCode</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>